.example-container {
    margin-top: 64px;
    height: calc(100vh - 64px);

    .mat-sidenav-container {
        height: 100%;
    }
}

.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.tweets-sidenav {
    width: 25vw;
}

main {
    margin: -1rem 4rem 1rem 1rem;
    position: relative;
}

.tweet-sidenav-toggler {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 100;
    display: inline-block;
}