<!-- <h1>{{title}}</h1> -->

<!-- <app-messages></app-messages> -->


<mat-toolbar color="primary">Politiknörden</mat-toolbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <app-partier></app-partier>
    </mat-sidenav>
    <mat-sidenav class="tweets-sidenav" mode="side" position="end" opened>
        <router-outlet name="tweets"></router-outlet>
    </mat-sidenav>
    <main>
        <router-outlet></router-outlet>
    </main>
</mat-sidenav-container>